*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    width: 100%;
}
.box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn{
    height: 90px;
    width: 220px;
    border-radius: 8px;
    font-size: 32px;
    letter-spacing: 3px;
    font-weight: 600;
     

}