.row{
    display: flex;
    justify-content: center;
    align-items: center;

}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}