*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
}
.main-box h1{
    margin: 20px;
}
.main-box{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-box h1{
    margin-bottom: 20px;
}
.input{
    margin-bottom: 10px;
}
.hr{
    width: 100%;
    height: 1px;
    margin: 20px ;
    background-color: brown;
}
.info{
    margin-top: 30px;
     display: flex;
     flex-direction: column;
     gap: 10px;
}