*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
 
.todo-page{
    width: 100%;
    height: 75%;
}
.card-title-description{
    width: 30%;
}